div {
  width: 100px;
  height: 100px;
  background-color: royalblue;
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.border {
  border-width: 2px;
  border-style: dotted;
  border-color: crimson;
  border-top-color: rgb(238, 255, 0);
  border-radius: 20px;
}
/* 상하좌우 */
.margin-shorthand-1 {
  margin: 10px;
}
/*  상하 / 좌우 */
.margin-shorthand-2 {
  margin: 10px 20px;
}
/* 상 / 좌우 / 하 */
.margin-shorthand-3 {
  margin: 10px 20px 30px;
}
/* 상 / 우 / 하 / 좌 - 시계방향 */
.margin-shorthand-4 {
  margin: 10px 20px 30px 40px;
}