div {
  width: 100px;
  height: 100px;
  background-color: rgb(98, 209, 163);
  text-align: center;
  line-height: 100px;
}

.parent {
  background-color: red;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 50px;
}

.relative {
  position: relative;
}

.relative-move {
  position: relative;
  top: 30px;
  left: 30px;
}

.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

body {
  height: 1000000px;
}

.zindex {
  z-index: 1;
}

.zindex-1000 {
  z-index: -1;
}